
.Carousel_Container {
    width: 100%;  
    height: 35vh;
    margin:  0 0;
    background: #F2F2F7;
    /* background: #000; */
}

.slick-slide {
    padding-inline:5px;
    padding-block:20px;
}

.Slick_Carousels {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.Slick_Carousels img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.SlidersDiv {
    height: 100%;
    width: 100%;
    /* background: #000; */
}



@media(max-width: 999px) {
    .SlidersDiv {
        width: 90%;
    }

    .Carousel_Container {
        height: 15vh;
    }

    .Slick_Carousels{
        height: 10vh ;
        /* background: red; */
    }

    .Slick_Carousels img {
        height: 100%;
    }
}
    
    
@media(max-width: 476px) {
        .SlidersDiv {
            width: 99%;
        }
        .Carousel_Container {
            height: 15vh;
        }
    
        .Slick_Carousels{
            height: 10vh ;
            /* background: red; */
        }
    
        .Slick_Carousels img {
            height: 100%;
        }
 }

 @media screen and (max-width: 414px) {
    .SlidersDiv {
        width: 99%;
    }

    .Carousel_Container {
        height: 15vh;
    }

    .Slick_Carousels{
        height: 10vh ;
        /* background: red; */
    }

    .Slick_Carousels img {
        height: 100%;
    }
}
    