/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */

.Hero-holder {
    width: 100%;
    height: 100vh;
    background-color: #181834;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero-holder-wrap {
    width: 100%;
    height: 80%;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-url{
    width: 100%;
}



.Hero-right {
    width: 34%;
    height: 70%;
}

.Hero-right img {
    width: 100%;
    height: 100%;
}

.Hero-left {
    width: 65%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.Hero-header-text {
    font-family:  Inter, arial, sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    line-height: 60px;
}

.Hero-header-p {
    font-family:  Inter, arial, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    width: 90%;
    margin-bottom: 2%;
}

.hero-bttn {
    width: 25%;
    height: 22%;
    background-color: #EABE4D;
    outline: none;
    border-radius: 10px;
}

.hero-bttn{
    width: 20%;
    height: 50px;
    background: red;
    cursor: pointer;
    margin: 0px 5px;
    border-radius: 5px;
    background-color: #eabe4d;
    color:  black;
    transition: all 360ms;
    border:  none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

@media(max-width: 999px) {

.Hero-holder {
    padding-top: 10%;
    height: 100vh;
    /* background: red; */
}


.Hero-holder-wrap{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Hero-right {
    width: 60%;
    height: 70%;
}

.image-url {
    width: 100%;
}

.Hero-left {
    width: 90%;
}

.Hero-header-text {
    font-size: 30px;
    margin-bottom: 1%;
}

.Hero-header-p {
    font-size: 10px;
    width: 100%;
    line-height: 19px;
    margin-bottom: 3%;
}

.hero-bttn {
    width: 60%;
    /* margin-top: 10px; */
    height: 40px;
}
}


@media(max-width: 476px) {
    
    .Hero-holder {
        padding-top: 10%;
        height: 100vh;
        /* background: #000; */
    }
    
    
    .Hero-holder-wrap{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .Hero-right {
        width: 60%;
        height: 70%;
    }
    
    .image-url {
        width: 100%;
    }
    
    .Hero-left {
        width: 90%;
    }
    
    .Hero-header-text {
        font-size: 30px;
        margin-bottom: 1%;
    }
    
    .Hero-header-p {
        font-size: 10px;
        width: 100%;
        line-height: 19px;
        margin-bottom: 3%;
    }
    
    .hero-bttn {
        width: 60%;
        /* margin-top: 10px; */
        height: 40px;
    }
}

@media (max-width: 414px) {

    .Hero-holder {
        height: max-content;
        /* padding-bottom: 2%; */
    }

    .Hero-right {
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: red;  */
        margin-bottom: 20%;
        margin-top: 25%;
    }
    .image-url{
        display: flex;
        justify-content: center;
        width: 80%;
    }  

        .Hero-header-text {
          font-size: 35px;
        }
    
        .Hero-header-p {
            width: 90%;
            font-size: 12px;
        }
    
        .Hero-left {
            width: 100%;
            height: auto;
            text-align: center;
            margin-bottom: 20px;
        }
    
        .Hero-right {
            width: 100%;
            height: auto;
            order: -1;
        }
    
        .hero-bttn {
            width: 90%;
            height: 60px;
            margin: 20px 0px;
        }
}



