.rot{
    rotate: 180deg;
    transition: all 350ms;
}

/* .PasswordEye{
    position: relative;
} */

.PasswordShow {
    font-size: 26px;
    cursor: pointer;
    color: gray;
    transition: all 350ms ease-in;
     margin-right: 6px;
}

.PasswordHide{
    color: black;
    font-size: 26px;
    cursor: pointer;
    transition: all 350ms ease-in;
     margin-right: 6px;
}