.rot{
    rotate: 180deg;
    transition: all 350ms;
}

/* .PasswordEye{
    position: relative;
} */

.PasswordShow {
    font-size: 26px;
    cursor: pointer;
    color: gray;
    transition: all 350ms ease-in;
     margin-right: 6px;
}

.PasswordHide{
    color: black;
    font-size: 26px;
    cursor: pointer;
    transition: all 350ms ease-in;
     margin-right: 6px;
}

.ImageBox {
    height: 100%;
    width: 100%;
    background: white;
    border: 2px dashed rgb(216, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageBoxText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    & .Icons {
        font-size: 45px;
        color: gray;
        padding-bottom: 10px;
    }

    & h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: gray;
    }
}


.TopSelectText {
    color: red;
}

.Upload {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-weight: 500;
    margin-bottom: 10px;
}